<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>
<p><%= @user.email %></p>
<p><%= @user.address %></p>
<p><%= @user.profile %></p>
<div>
  <%= link_to "Please Log in !", login_path if !@current_user %>
</div>