<p>@current_user.inspect</p>
<%= @current_user.inspect %>
<p>@relationship.inspect</p>
<%= @relationship.inspect %>


<p>@following_relationships.inspect</p>
<%= @following_relationships.inspect %>

<p>@followed_relationships.inspect</p>
<%= @followed_relationships.inspect %>


<p>session.inspect</p>
<%= session.inspect %>
